# Python
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Node
node_modules/
frontend/dist/

# Environment
.env

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
~$*
files.zip
